@using PizzaApp.Web.ViewModels.Menu;
@model OrderPizzaViewModel

@{
    ViewData["Title"] = Model.Pizza.Name;
    bool hasImage = Model.Pizza.ImageUrl != null;
}
<a class="btn btn-success btn-back"><i class="fa-solid fa-arrow-left"></i> Back</a>
<form asp-action="AddToCart" method="post" class="container" name="pizza-form">
    @if (hasImage)
    {
        <img class="img-pizza-details" src="@Model.Pizza.ImageUrl"/>
    }
    <div class="mb-3">
        <h2>@Model.Pizza.Name</h2>
        <input asp-for="@Model.Pizza.Id" type="hidden" value="@Model.Pizza.Id" />
    </div>
    <div class="mb-3">
        <h3>@Model.Pizza.Description</h3>
    </div>

    <div class="pizza-options-container">
        <div class="pizza-options-selects">
            <!-- Dough Select -->
            <div class="mb-3">
                <label asp-for="Pizza.DoughId" class="form-label">Dough</label>
                <select asp-for="Pizza.DoughId" class="form-select">
                    <option value="">Select dough</option>
                    @foreach (var dough in Model.Ingredients.Doughs)
                    {
                        <option data-price="@dough.Price" value="@dough.Id">@dough.Name</option>
                    }
                </select>
            </div>

            <!-- Sauce Select -->
            <div class="mb-3">
                <label asp-for="Pizza.SauceId" class="form-label">Sauce</label>
                <select asp-for="Pizza.SauceId" class="form-select">
                    <option value="">Select sauce</option>
                    @foreach (var sauce in Model.Ingredients.Sauces)
                    {
                        <option data-price="@sauce.Price" value="@sauce.Id">@sauce.Name</option>
                    }
                </select>
            </div>
        </div>
        
        <div class="pizza-options-checkboxes">
            @foreach (var category in Model.Ingredients.ToppingCategories)
            {
                <fieldset class="mb-3">
                    <legend>@category.Name</legend>
                    <div class="row">
                        @foreach (var topping in category.Toppings)
                        {
                            <div class="form-check col-md-4">
                                <input class="form-check-input"
                                       type="checkbox"
                                       value="@topping.Id"
                                       name="SelectedToppingIds"
                                       id="topping_@topping.Id"
                                       data-price="@topping.Price"
                                       @(Model.Pizza.SelectedToppingIds.Contains(topping.Id) ? "checked" : "") />
                                <label class="form-check-label" for="topping_@topping.Id">
                                    @topping.Name (@topping.Price.ToString("C"))
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            }
        </div>
    </div>
    <div>Price: <output name="total">$@Model.Pizza.Price</output></div>
    <button type="submit" class="btn btn-danger">I want one!</button>
</form>

@section Styles {
    <link href="@Url.Content("~/css/Menu/pizza-details.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="~/js/pizza-details.js"></script>
    <script src="~/js/pizzas/create-pizza.js"></script>
}
