@using PizzaApp.Web.ViewModels
@using PizzaApp.Web.ViewModels.Menu
@using PizzaApp.GCommon.Enums
@model MenuItemViewModel


<div class="card" style="width: 18rem;">
    <a class="add-to-favorites" href="#"><i class="fa-regular fa-heart favorites-icon"></i></a>
    <img class="card-img-top" src=@Model.ImageUrl alt="Image of @Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <div class="card-btn-container">
            @if (Model.Category == MenuCategory.Pizzas)
            {
                <a asp-controller="Menu" asp-action="@Model.Category" asp-route-id="@Model.Id" class="card-btn btn btn-danger"><i class="fa-solid fa-cart-plus"></i></a>
            } 
            else
            {
                <a class="card-btn btn btn-danger"><i class="fa-solid fa-cart-plus"></i></a>
            }
        </div>
    </div>
</div>

